
// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"
// spawn-sh-at-startup "qs -c noctalia-shell"
// spawn-at-startup "dms run"

// -----
// spawn-sh-at-startup "lxpolkit"
// spawn-sh-at-startup "SSH_ASKPASS=/usr/libexec/openssh/ssh-askpass SSH_ASKPASS_REQUIRE=force ssh-add /home/morro/.ssh/id_rsa < /dev/null"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"