// include DankMaterialShell stuff
include "dms.kdl"

// include top-level settings from the system-wide default config
include "/usr/share/gabos/gdots/system/niri/irin.kdl"

// include local user overrides
include optional=true "local.kdl"